<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBase1.Properties.Settings.dbConnectionString"
            connectionString="server=leia.cs.spu.edu;user id=blairs2;password=blairs215$4410X;persistsecurityinfo=True;database=blairs2_db"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>